@use "../../styles/Variables" as *;

.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  background-color:$dark-navy;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -110vh;
      width: 2px;
      height: 100vh;
      background-color: $slate;
    }

    li {
      a {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
  
        &:hover {
          transform: translateY(-5px);
          color: $green;

          svg {
            fill: $green;
          }
        }
  
        svg {
          width: 30px; 
          height: 30px;
        }
      }
    }
  }
  