.header {
    background-color: #121212;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    nav ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
  
      li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
  
        &:hover {
          color: #00bfff;
        }
      }
    }
  }  