@use '../../styles/Variables' as *;

.header {
  background-color: transparent;
  color: white;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  align-items: center;
  display: flex;

  nav {
    display: flex;
    align-items: center;
    padding: 0 50px;
    width: inherit;
    font-family: $font-family;

    ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      margin-left: auto;
      
      li {
        a {
          text-decoration: none;
          color: white;
          font-size: 13px;
          padding: 10px;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: $green; // Aplica a cor verde no hover
          }
        }
      }
    }

    .nav-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 3px;
      margin-left: 10px;
    }
  }
}
