@use "../../styles/Variables" as *;

.about {
  padding: 150px 0;
  color: $white;
  text-align: left;

  .container {
    max-width: 800px;
    margin: 0 auto;

    .subcontainer {
      position: relative; 
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 32px;
        font-family: $font-title;
        color: $green;
      }

      &::after {
        content: "";
        position: absolute;
        left: 180px;
        width: 300px;
        height: 0.1px;
        background-color: $slate;
      }
    }
  }

  p {
    font-family: $font-title;
    font-size: 20px;
    strong {
        color: $green;
    }      
  }
}
// https://v4.brittanychiang.com/#jobs