@use "../../styles/Variables" as *;
@use "sass:color";

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-navy;
    padding-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    font-family: $font-family;

    .hero-content {
        text-align: left;
        align-items: flex-start;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 16px;
            margin: 0 0 30px 5px;
            color: $green;
        }

        h2 {
            font-family: $font-title;
            font-size: 72px;
            margin: 0;
            color: $light-slate;
        }

        h3 {
            font-family: $font-title;
            font-size: 72px;
            margin: 0;
            color: $slate;
        }

        p {
            font-family: $font-title;
            color: $slate;
        }

        .btn {
            display: inline-block;
            background-color: $green;
            color: $dark-navy;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2rem;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                background-color: color.scale($green, $lightness: 10%);
            }
        }
    }
}
